a{
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: #00000033;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover{background: #000000a8;}

section{
    text-align: center;
    background: #00000033;
    padding: 20px;
    margin: 20px 0;
    color: #fff;
    font-weight: 100;
}


@media all and (max-width: 1000px){
    #flex-nav ul{flex-wrap: wrap;}

    #flex-nav li{flex: 1 1 50%;}
}

@media all and (max-width: 500px){
    #contenedor{
        display: flex;
        flex-direction: column;
    }

    #contenedor > *{order: 999;}

    #flex-nav{order: 1;}

    #toggleNav{display: block;}

    #flex-nav ul{display: none;}

    #flex-nav ul.open{
        display: flex;
    }

    #info{order: 3;}

    .registro{
        order: 4;
        display: flex;
        flex-direction: column;
    }
}